body {
	font-family: sans-serif;
	background: #000;
	color: #fff;
}
#app {
	margin-top: 30px;
}
#app .video-list-containers {
	margin-bottom: 5px;
	padding: 0;
	background: inherit;
	cursor: pointer;
}
#app .video-list-containers .media-body {
	font-size: .95px;
	padding-left: 5px;
}


#searchBar {
	position: relative;
}
#searchBar .input-group-text {
	border-radius: 0;
	border: none;
	background-color: #444;
	cursor: pointer;
}
#searchBar input {
	-webkit-appearance: none;
    box-shadow: none;
    border-width: 0;
    border-radius: 0;
}
#searchBar .searchList {
	position: absolute;
    background: #fff;
    z-index: 10;
    padding: 0;
    color: #333;
    list-style: none;
	width: 80%;
	margin-top: 5px;
}
#searchBar .searchList li {
	text-decoration: none;
    padding: 5px 13px;
    font-size: .9rem;
    cursor: pointer;
    font-weight: bold;
}
